@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: "outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}


.highlight-reply {
  animation: highlightPulse 2s ease-in-out;
  background-color: rgba(139, 92, 246, 0.3) !important;
  /* violet highlight */
  border-radius: 12px;
  padding: 4px;
}

@keyframes highlightPulse {
  0% {
    background-color: rgba(139, 92, 246, 0.3);
  }

  50% {
    background-color: rgba(139, 92, 246, 0.5);
  }

  100% {
    background-color: transparent;
  }
}